1. sql문으로 users테이블에 user을 10명 추가해보자

In [ ]:
INSERT INTO users (first_name, last_name, email, password, address, contact, gender)
VALUES
('해은','전','haeeun@oz.com','101081','백석동','010-5049-7731','FEMALE'),
('소현','강','kang@oz.com','12345','백석동','010-2938-7489','FEMALE'),
('쩐다','개','aooo@oz.com','3452','마포동','013-2836-2846','MALE'),
('이름','성','name@name.net','348547','주엽동','282-4345-3566','MALE'),
('점점','점','djfhe@naver.com','37519','연남동','182-2452-8692','FEMALE'),
('우와','귀','duke@gmail.com','1243537','가좌동','293-2820-1234','MALE'),
('상디','원','san@onepiece.com','384712','일산동','02-234-2145','MALE'),
('루피','몽','monkyd@onepiece.com','10293','송내1동','2938-245-321','MALE'),
('나미','나','nami@onepiece.com','2341','백마1동','231-235-2341','FEMALE'),
('지막','마','xxxx@rast.com','2341','백석동','010-20394-2293','MALE');

##2. 재고 변동 이력 10개를 생성해보자.

stock 테이블에 랜덤 10개의 더미를 생성하는 코드

In [ ]:
########## 랜덤한 데이터를 10개 생성하여  stocks_data 리스트에 추가하는 구문

try:
    with connection.cursor() as cursor:
        stocks_data = [] #cursor.executemany()에서 생성된 여러행을 튜플 형식으로 저장되게 해준다.
        for i in range(10):
            raw_material_id = random.randint(1, 7)  # 1,7까지의 숫자중 랜덤한 값을 반환해줌
            pre_quantity = random.randint(1, 100)
            quantity = random.randint(1, 50)
            change_type = random.choice(['IN', 'OUT', 'RETURNED', 'DISCARDED']) # 주어진 리스트에서 랜덤하게 하나의 항목을 선택
            store_id = random.randint(1, 5)
            create_at = fake.date_this_year() # 올해의 랜덤 날짜를 반환한다. faker 샛체를 통해 생성된 날짜는 자동으로 YYYY-MM-DD 형식이다.

            stocks_data.append((raw_material_id, pre_quantity, quantity, change_type, store_id, create_at))
            # 생성된 각 데이터를 튜플로 묶어  stocks_data 리스트에 추가한다
            

########  stocks_data 에 생성된 랜덤 데이터 여러개를 STOCKS 테이블에 한 번에 삽입해주는 구문--------------------------

        cursor.executemany("""
                INSERT INTO stocks (raw_material_id, pre_quantity, quantity, change_type, store_id, create_at)
                VALUES (%s, %s, %s, %s, %s, %s)
                """
            , stocks_data)
        # executemany는 여러개의 데이터를 한 번에 삽입살 떄 사용된다. 데이터를 삽입할 목록 > 삽입할 데이터 순으로 작성 된다.
        #stocks_data에 들어있는 데이터를 삽입해준다는 의미가 된다.

########### 변경사항을 커밋하고 연결을 종료시켜줌------------------------------------------------------


        connection.commit() # 데이터베이스에 변경 사항을 commit 해준다.

finally:
    connection.close()

##3. sql문으로 sales_items 테이블에 데이터 추가하기

sales_items에 데이터를 추가하기에 앞서 sales_records 테이블에 더미데이터를 삽입해줘야한다.

sales_items 에 데이터를 추가하는 구문

In [ ]:
import random

import pymysql
from faker import Faker
from pymysql.cursors import DictCursor

fake = Faker()

connection = pymysql.connect(
    host= 'localhost',
    user= 'root',
    password= '651015',
    db= 'fishbread_db',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:

        sql = """
            INSERT INTO sales_items (sales_record_id, product_id, quantity, created_at)
            VALUES (%s, %s, %s, %s)
        """

        values = (1, 3, 2, '2024-12-08 13:00:00')
        cursor.execute(sql, values)
        connection.commit()

finally:
    connection.close()

## 4. sql문으로 products 테이블에 본인만의 시그니처 메뉴를 추가하기

In [ ]:
import random

import pymysql
from faker import Faker
from pymysql.cursors import DictCursor

fake = Faker()

connection = pymysql.connect(
    host= 'localhost',
    user= 'root',
    password= '651015',
    db= 'fishbread_db',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        sql = """
            INSERT INTO products (name, description, price)
            VALUES (%s, %s, %s)
        """
        values = ('Real fish Bun','붕어빵 안에 신선한 방어회가 들어가 있어요!','30.00' )  # sales_record_id, product_id, quantity, created_at
        cursor.execute(sql, values)
        connection.commit()

finally:
    connection.close()

5. sql 문으로 user1과 user2를 각각 매장 id 5와 7에 소속되어있는 직원과 매니저로 변경하기

In [ ]:
#user1
UPDATE employees
SET store_id = 5, type = 'staff'
WHERE id = (SELECT id FROM users WHERE first_name = '해은');

#user2
UPDATE employees
SET store_id = 7, type = 'manager'
WHERE id = (SELECT id FROM users WHERE first_name = '상디');